[user]
	name = Haha64142
	email = paul.w64142@gmail.com
[core]
	autocrlf = true
	fscache = true
	symlinks = false
	editor = nano.exe
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
    helper = manager
